# Output files
docs/
logs/
terrain/

# QGroundControl (can't redistribute)
QGroundControl-x86_64.AppImage

# Python build files
**/__pycache__/
.coverage
gps_attack.egg-info/

# Temporary SITL/MAVProxy runtime artifacts
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
